*~

.tscache
/.ntvs_analysis.dat
/.ntvs_analysis.dat.tmp
.baseDir.ts
npm-debug.log

src/*.js
src/*.js.map
src/*.d.ts
lib/
es6/
amd/
commonjs/
spec/*.js
spec/*.js.map
spec/*.d.ts

node_modules/
typings/
